[project]
name = "tui"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "colorama>=0.4.6",
    "prompt-toolkit>=3.0.52",
]

[dependency-groups]
dev = [
    "pyright>=1.1.408",
]
